<% if @quote != nil %>
  <p>
    Submitter: <%= @quote.submitter %>
  </p>
  <p>
    Quote: <%= @quote.quote %>
  </p>
  <p>
    Attribution: <%= @quote.attribution %>
  </p>
  <p>
    Sentence: <blockquote><%= @quote.print_sentence %></blockquote> 
  </p>
  <form action="<%= @quote.id %>/destroy" method="post">
    <input type="text" name="id" value="<%= @quote.id %>" style="display:none;">
    <input type="submit" value="Delete">
  </form>
  <a href="<%=@quote.id%>/edit">Edit</a>
<% else %>
  <h1>This quote is empty!</h1>
<% end %>
